<!-- Start header -->
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/robot.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Michael Pacheco</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<!-- CSS Files -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/material-kit.css" rel="stylesheet" />
	<link href="css/demo.css" rel="stylesheet" />
	<script>
		(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-102421203-1', 'auto');
		ga('send', 'pageview');

	</script>
	<script src="js/jquery.js"></script>
</head>

<body class="index-page">
	<!-- Navbar -->
	<!-- <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll"
		style="background: rgba(0, 0, 130, 0.5);">
		<div class="container">
			<div class="navbar-header" style="padding-top: 5px;">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a rel="tooltip" title="Return home" data-placement="bottom" href="/"
					class="btn btn-white btn-simple btn-just-icon">
					MICHAEL PACHECO
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navigation-index">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a rel="tooltip" title="Return home" data-placement="bottom" href="/"
							class="btn btn-white btn-simple btn-just-icon">
							<i class="fa fa-home"></i>
							Home
						</a>
					</li>
					< <li>
						<a rel="tooltip" title="Blog" data-placement="bottom" href="/blog.html"
							class="btn btn-white btn-simple btn-just-icon">
							<i class="fa fa-commenting"></i>
							Blog
						</a>
					</li> 
				</ul>
			</div>
		</div>
	</nav> -->
</body>
</html>
<style>
	hr.styled {
		border-top: 1px solid #8c8b8b;
		margin: 0;
	}

	p {
		font-size: 16px;
	}
</style>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/material.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="js/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="js/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="js/material-kit.js" type="text/javascript"></script>
<!-- End header -->


<!-- Start page -->
<link rel="stylesheet" type="text/css" href="css/monokai.css">
<div class="wrapper">
	<div class="header header-filter" style="background-image: url('img/bg2.jpeg');height: 100px; min-height: 100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand" style="margin-top: 10px;">
						<div class="logo">
							<!--<img class="logo" style="border-radius: 50%" src="{{url_for('static', filename='img/logo.png')}}" alt="" rel="tooltip" title="" data-placement="bottom" data-html="true">-->
						</div>
						<h1>MICHAEL PACHECO</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="container">
		<div class="row">
			<br><br>
			<div class="col-md-8">
				<h2>About</h2>
				<p>
					Hi! I'm currently a Software Engineering Researcher at Huawei conducting and applying novel software
					engineering research related to Artificial Intelligence for Software Engineering (AI4SE) and
					software vulnerabilities to solve real company problems. I obtained my MSc in Computer Science at
					Queen's University under the supervision of <a
						href="https://research.cs.queensu.ca/home/ahmed/home/" target="_blank">Dr. Ahmed Hassan</a> and
					<a href="https://gaoliva.com/" target="_blank">Dr. Gustavo Oliva</a>, as part of the <a
						href="https://sail.cs.queensu.ca/" target="_blank">Software Analysis and Intelligence Lab
						(SAIL)</a>. My <a href="https://qspace.library.queensu.ca/handle/1974/30213?show=full"
						target="_blank">MSc thesis</a> investigates transaction processing times in the Ethereum
					blockchain.
					<br><br>
					My current research interests include AI4SE, SE4AI, and Explainable AI (XAI).
				</p>
				<br>

				<h2>Recent publications: </h2>
				<ul>
					<li>
						<p>
							<strong>What makes Ethereum blockchain transactions be processed fast or slow? An empirical
								study.</strong> <u>Michael Pacheco</u>, Gustavo A. Oliva, Gopi Krishnan Rajbahadur, and
							Ahmed E. Hassan. Empirical Software Engineering (<strong>EMSE</strong>), 2023.
						</p>
					</li>
					<li>
						<p>
							<strong>CoLeFunDa: Explainable Silent Vulnerability Fix Identification.</strong> Jiayuan
							Zhou, <u>Michael Pacheco</u>, Jinfu Chen, Xing Hu, Xin Xia, David Lo, and Ahmed E. Hassan.
							45th ACM/IEEE International Conference on Software Engineering (<strong>ICSE</strong>),
							2023.
						</p>
					</li>
					<li>
						<p>
							<strong>Is my transaction done yet? An empirical study of transaction processing times in
								the Ethereum Blockchain Platform.</strong> <u>Michael Pacheco</u>, Gustavo A. Oliva,
							Gopi Krishnan Rajbahadur, and Ahmed E. Hassan. ACM Transactions on Software Engineering and
							Methodology (<strong>TOSEM</strong>), 2022.
						</p>
					</li>
					<li>
						<p>
							<strong>Finding A Needle in a Haystack: Automated Mining of Silent Vulnerability
								Fixes.</strong> Jiayuan Zhou, <u>Michael Pacheco</u>, Zhiyuan Wan, Xin Xia, David Lo,
							Yuan Wang, and Ahmed E. Hassan. 2021 36th IEEE/ACM International Conference on Automated
							Software Engineering (<strong>ASE</strong>), 2021.
						</p>
					</li>
				</ul>
				<br>
				<h2>Some things I've worked on: </h2>
				<ul>
					<li>
						<p>
							<u>Redditor Studies</u> - I designed several websites which were part of multiple research
							projects that focus on the unique activity and usage information of each Redditor
							participant. The websites are designed as surveys with questions unique to each user, and
							are asked alongside visualizations of the user's individual Reddit usage information. In
							collaboration with <a target="_blank" href="http://anatoliygruzd.com/">Dr. Anatoliy
								Gruzd</a>, <a href="http://www.breemcewan.com/" target="_blank">Dr. Bree McEwan</a>, and
							<a target="_blank"
								href="https://arts.uottawa.ca/communication/en/people/dubois-elizabeth">Dr. Elizabeth
								Dubois</a>.
						</p>
					</li>

					<li>
						<p>
							<u>Social Media Data Collection Tools</u> - I developed several tools which enable users to
							extract data from different social media websites with no programming knowledge required.
							Sites include Reddit (to collect data from comments and submissions between a data range on
							as pecified Subreddit), Pinterest (to collects data from Pins on a specified user board),
							Twitter (see <a href="https://socialmedialab.ca/mytweeps/" target="_blank">My Tweeps</a>),
							and more. My work has helped researchers in the <a target="_blank"
								href="http://socialmedialab.ca/">Social Media Lab</a> with their research and
							publications, including:
						</p>
						<ul>
							<li>
								"Learning in the Wild: Coding Reddit for Learning and Practice". Caroline
								Haythornthwaite, Priya Kumar, Anatoliy Gruzd, Sarah Gilbert, Marc Esteve del Valle, and
								Drew Paulin. Proceedings of the 51st Hawaii International Conference on System Sciences.
								2018.
							</li>
							<li>
								"Mapping out Violence Against Women of Influence on Twitter Using the Cyber–Lifestyle
								Routine Activity Theory". Priya Kumar, Anatoliy Gruzd, and Philip Mai. American
								behavioral scientist 65.5 (2021): 689-711.
							</li>
						</ul>
						<p>
							Majority of these tools have repurposed in <a href="https://communalytic.com/"
								target="_blank">Communalytic</a> - a computational social science research tool for
							studying online communities and discourse. In collaboration with <a target="_blank"
								href="http://socialmedialab.ca/">Ryerson University's Social Media Lab</a> and <a
								target="_blank" href="http://anatoliygruzd.com/">Dr. Anatoliy Gruzd</a>.
						</p>
					</li>
					<li>
						<p>
							<a href="https://github.com/andreiapostoae/dota2-predictor"
								target="_blank"><u>DotaDamus</u></a> - Predicts the outcome of a Dota 2 game, and also
							suggests a character to pick to maximize the chance of winning - using machine learning. In
							collaboration with <a href="https://github.com/andreiapostoae" target="_blank">Andrei
								Apostoae</a>, a Masters student at University of Edinburgh.
						</p>
					</li>
					<li>
						<p>
							<a href="https://socialmedialab.ca/mytweeps/" target="_blank"><u>My Tweeps</u></a> - A
							“reverse” Twitter app that offers insights about your tweeps (people who follow you on
							Twitter) and their interests based on their tweets, accounts they follow, accounts that
							follow them, and more. In collaboration with <a target="_blank"
								href="http://socialmedialab.ca/">Ryerson University's Social Media Lab</a>.
						</p>
					</li>

					<!--li>
						<p>
							<a href="https://docs.google.com/document/d/1W79IKFFcUqKhE32fbbpScHPTB4_jBgDN06QpRJ4sAYE/edit?usp=sharing" target="_blank"><u>Exploring Deep Reinforcement Learning in a Bullet Hell Game</u></a> - A short research paper written for an assignment in a completed course: CPS840 - Deep Learning. The environment and agent can be found on my <a href="https://github.com/michael-pacheco/deep-learning-bullet-hell-environment" target="_blank">Github</a>.
						</p>
					</li-->
					<!--li>
						<p>
							<u>Reinforcement Learning Agents</u> - Programs that learn how to play various games by experiencing their environments and by giving them rewards when they perform optimal actions. Some agents use deep q-networks (which learn by using the pixels on the screen as input), while others use other information available to them. Implementations can be found on my <a href="https://github.com/michael-pacheco" target="_blank">GitHub</a>, or on my <a href="https://michaelpacheco.net/blog" target="_blank">blog</a>.
						</p>
					</li-->
					<!--li>
						<p>
							<a href="http://collector.socialmediadata.org" target="_blank"><u>Reddit Collector</u></a> - Allows users to extract metadata from comments and submissions between a certain date range on a specified Subreddit - no programming knowledge required. Users can also export the data to files such as CSV or GraphML. In collaboration with <a target="_blank" href="http://socialmedialab.ca/">Ryerson University's Social Media Lab</a>.
						</p>
					</li-->
					<li>
						<p>
							<!-- <a href="/network-graph"><u>Reddit Submission Network Visualization</u></a> - Given a Reddit -->
							<a href="https://github.com/michael-pacheco/flask-network-graph"><u>Reddit Submission Network Visualization</u></a> - Given a Reddit
							submission, visualizes user interactions using a basic network graph.
						</p>
					</li>
					<!--li>
						<p>
							<a href="http://pinterest.socialmediadata.org" target="_blank">Pinterest Pin Collector</a> - Collects all data from Pins on a specified user board and allows the user to download a CSV file containing the data. In collaboration with <a target="_blank" href="http://socialmedialab.ca/">Ryerson University's Social Media Lab</a>.
						</p>
					</li-->
					<li>
						<p>
							More on my <a href="https://github.com/michael-pacheco/" target="_blank">GitHub</a>,
							<!-- <a href="/blog">blog</a--> and <a href="https://www.youtube.com/channel/UCFdtSaX-Gj0KH_Mc1QEnJ5Q"
								target="_blank">YouTube</a>!
						</p>
					</li>
				</ul>

				<br>
				<!-- <h2>Recent blog posts: </h2>
				{% for post in all_blogs %}
				{% if loop.index < 5 %} <h4><a href="{{post.url}}">{{post.title}}</a></h4>
					<p>Tags:
						{% for tag in post.tags %}
						<custompre>{{tag}}</custompre>
						{%endfor%}
					</p>
					{%endif%}
					{% endfor %}

					<br>
					<h2>Recent GitHub contributions: </h2>
					{% for repo in repo_list %}
					<p><a href="{{ repo.html_url }}" target="_blank">{{repo.name}}</a></p>
					{% endfor %} -->
			</div>

			<div class="col-md-4">
				<!--br>
				<div class="well">
						<h3><i class="material-icons" style="color: black;">info</i>&nbsp;&nbsp;<ultext>About</ultext></h3>
						<p>
							Hi, I'm Michael Pacheco. I'm currently an Artificial Intelligence for Software Engineering (AI4SE) Reseacher and Engineer at Huawei conducting and applying novel software engineering research to real company problems. I obtained my MSc in Computer Science at Queen's University under supervision of <a href="https://research.cs.queensu.ca/home/ahmed/home/" target="_blank">Dr. Ahmed Hassan</a> and as part of the <a href="https://sail.cs.queensu.ca/" target="_blank">Software Analysis and Intelligence Lab (SAIL)
</a>. I'm currently interested in Artificial Intelligence for Software Engineering (AI4SE), and Explainable AI (XAI).
						</p>
						<p>
							You can email me at <a href="mailto:pacheco.a.michael@gmail.com">pacheco.a.michael@gmail.com</a>.
						</p>
				</div-->
				<div class="well">
					<h3><i class="material-icons" style="color: black;">contacts</i>&nbsp;&nbsp;<ultext>Contact/Connect
						</ultext>
					</h3>
					<a rel="tooltip" title="Follow me on GitHub" data-placement="bottom"
						href="https://github.com/michael-pacheco" target="_blank"
						class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-github fa-lg" style="color: black;"></i>
					</a>
					<a rel="tooltip" title="Follow me on YouTube" data-placement="bottom"
						href="https://www.youtube.com/channel/UCFdtSaX-Gj0KH_Mc1QEnJ5Q" target="_blank"
						class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-youtube-play fa-lg" style="color:black
;"></i>
					</a>
					<a rel="tooltip" href="https://www.linkedin.com/in/michael-pacheco-470289123/"
						title="Connect with me on LinkedIn" data-placement="bottom" target="_blank"
						class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-linkedin fa-lg" style="color: black;"></i>
					</a>
					<!--<a rel="tooltip" title="Add me on Facebook" data-placement="bottom"  target="_blank" class="btn btn-white btn-simple btn-just-icon">
								<i class="fa fa-facebook" style="color: black;"></i>
							</a>-->
					<a rel="tooltip" title="Email me: pacheco.a.michael@gmail.com" data-placement="bottom" target="_blank"
						href="mailto:pacheco.a.michael@gmail.com" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-envelope fa-lg" style="color: black;"></i>
					</a>
					<a rel="tooltip" href="https://www.researchgate.net/profile/Michael-Pacheco-6"
						title="Connect with me on ResearchGate" data-placement="bottom" target="_blank"
						class="btn btn-white btn-simple btn-just-icon">
						<p style="color:black;">ResearchGate</p>
					</a>
					<a rel="tooltip" href="https://scholar.google.com/citations?hl=en&user=m6agNw4AAAAJ"
						title="View my Google Scholar profile" data-placement="bottom" target="_blank"
						class="btn btn-white btn-simple btn-just-icon">
						<p style="color:black;">Google Scholar</p>
					</a>
				</div>
				<!-- <div class="well">
					<h3><i class="material-icons" style="color: black;">tag_faces</i> Here's a popular image from <a href="http://reddit.com/r/aww" target="_blank">reddit.com/r/aww</a></h3>
					<a href="{{permalink}}" target="_blank"><img src="{{url}}" style="width: 100%"><p>{{title}}</p></a>
				</div> -->
			</div>

		</div>
	</div>
	<style>
		custompre {
			padding: 2.2px;
			margin: 0 0 10px;
			font-size: 13px;
			line-height: 1.42857143;
			word-break: break-all;
			word-wrap: break-word;
			color: #333;
			background-color: #f5f5f5;
			border: 1.5px solid #ccc;
			border-radius: 5px;
			font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		}

		img {
			margin: auto;
			display: block;
		}

		ultext {
			text-decoration: underline;
		}
		
		h2 {
			font-size: 4em;
		}
		
		p {
			font-size: 1.5em;
			line-height: 1.5em;
		}
	</style>

<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<nav class="pull-left">
			<a rel="tooltip" title="Follow me on GitHub" data-placement="top" href="https://github.com/michael-pacheco"
				target="_blank" class="btn btn-white btn-simple btn-just-icon">
				<i class="fa fa-github fa-lg" style="color: black;"></i>
			</a>
			<a rel="tooltip" title="Follow me on YouTube" data-placement="top"
				href="https://www.youtube.com/channel/UCFdtSaX-Gj0KH_Mc1QEnJ5Q" target="_blank"
				class="btn btn-white btn-simple btn-just-icon">
				<i class="fa fa-youtube-play fa-lg" style="color:black;"></i>
			</a>
			<a rel="tooltip" href="https://www.linkedin.com/in/michael-pacheco-470289123/"
				title="Connect with me on LinkedIn" data-placement="top" target="_blank"
				class="btn btn-white btn-simple btn-just-icon">
				<i class="fa fa-linkedin fa-lg" style="color: black;"></i>
			</a>

			<a rel="tooltip" title="Email me" data-placement="top" target="_blank"
				href="mailto:pacheco.a.michael@gmail.com" class="btn btn-white btn-simple btn-just-icon">
				<i class="fa fa-envelope fa-lg" style="color: black;"></i>
			</a>


		</nav>
		<div class="copyright pull-right">
		</div>
	</div>
</footer>
<!-- End footer -->
